<header class="mainHeader">
    <nav class="navbar">
        <ul class="navlist">
            <li><a href="/">Home</a></li>
            <li><a href="/applications">Applications</a></li>
            <li><a href="/">My account</a></li>
            <li><a href="/auth/login">Login</a></li>
            <li><a href="/auth/signup">Signup</a></li>
        </ul>
    </nav>
</header>