<!DOCTYPE html>

<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title> Unauthorised access</title>
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <h1 class="err">403</h1>
        <h1 class="err">You are not allowed on this page, sorry!</h1>
        <h1 class="err"><a href="/">Go back home</a></h1>
    </body>
</html>