<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Applications</title>
        <link rel="stylesheet" href="/css/style.css">
        <script src="/js/applicationsScript.js"></script>
    </head>

    <body onload="getApplications()">
        <h1>Amusement Park "Heh"</h1>
        
        <h2>Applications</h2>
        
        <table id="applications">
            <tr>
                <th>Name</th>
                <th>Surname</th>
                <th>Application status</th>
                <th>Accept</th>
                <th>Reject</th>
                <th>Pending</th>
            </tr>
        </table>

    </body>

</html>