<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Login</title>
        <script src="/js/loginScript.js"></script>
        <link rel="stylesheet" href="/css/loginStyle.css">
    </head>
    <body>
        <%- include("partials/header") %>
        <div id="background">
            <h1 style="color: whitesmoke;">Login</h1>
            <div id="background-inputs">
                <form id="userInfo">
                    <input id="loginHandle" type="text" placeholder="Enter your username or email"><br>
                    <input id="password" type="password" placeholder="Enter your password"><br>
                </form>
            </div>
            <div id="other-links">
                <button id="submit-button" onclick="loginUser()" style="color: whitesmoke;">Submit</button>
                <button id="forgotten-password-button" onclick="goToForgotPassword()" style="color: whitesmoke;">Forgot your password?</button>
            </div>
        </div>
    </body>
</html>