body {
    background-color: blanchedalmond;
}

#background {
    background-color: lightslategray;
    display: grid;
    place-items: center;
    width: 50%;
    margin-left: 25%;
    margin-top: 5%;
    border-radius: 30px;
    padding-bottom: 40px;
    height: 60vh;
}

#firstname {
    width: 70vh;
    padding-top: 5px;
    padding-bottom: 3px;
    padding-left: 10px;
    border-radius: 15px;
    margin-bottom: 15px;
    font-style: oblique;
    font-size: medium;
    border-width: 2px;
    border-color: whitesmoke;
}

#lastname {
    width: 70vh;
    padding-top: 5px;
    padding-bottom: 3px;
    padding-left: 10px;
    border-radius: 15px;
    margin-bottom: 15px;
    font-style: oblique;
    font-size: medium;
    border-width: 2px;
    border-color: whitesmoke;
}

#person-number {
    width: 70vh;
    padding-top: 5px;
    padding-bottom: 3px;
    padding-left: 10px;
    border-radius: 15px;
    margin-bottom: 15px;
    font-style: oblique;
    font-size: medium;
    border-width: 2px;
    border-color: whitesmoke;
}

#username {
    width: 70vh;
    padding-top: 5px;
    padding-bottom: 3px;
    padding-left: 10px;
    border-radius: 15px;
    margin-bottom: 15px;
    font-style: oblique;
    font-size: medium;
    border-width: 2px;
    border-color: whitesmoke;
}

#password {
    width: 70vh;
    padding-top: 5px;
    padding-bottom: 3px;
    padding-left: 10px;
    border-radius: 15px;
    margin-bottom: 15px;
    font-style: oblique;
    font-size: medium;
    border-width: 2px;
    border-color: whitesmoke;
}

#sumbit-button {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: smaller;
    font-weight: bold;
    border-radius: 20px;
    background-color: rgb(89, 103, 115);
    border-width: 2px;
    border-color: whitesmoke;
}

#login-button {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: smaller;
    font-weight: bold;
    border-radius: 20px;
    background-color: rgb(89, 103, 115);
    border-width: 2px;
    border-color: whitesmoke;
}
